<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  Login and Registration using Flask.  {% endblock %}</title>
</head>
<body>
    <header>
        <!-- <nav>
            <ul>

                <li>
                    <a href="">Register</a>
                </li>
                <li> 
                </li>
            </ul>
        </nav> -->
        <h1>This is the header</h1>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <h1>

            This is footer
        </h1>
    </footer>
</body>
</html>